body {
    color:rgb(235, 219, 6);
    background:rgb(6, 102, 167);
}

header {
    border-bottom: solid rgb(16, 206, 240) (133, 94, 77);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 13, 13);
}